@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
    <div id="home" class="banner-w3pvt d-flex">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 bnr-txt-w3pvt">
                    <div class="bnr-w3pvt-txt mt-sm-5">
                        <h6>Welcome to my Client template</h6>
                        <h2>Hello <span>I'm John Watson</span></h2>
                        <h4>designer - developer - freelancer</h4>
                        <p class="mt-4">
                            Auctor sit amet aliquam vel, ullamcorper sit amet ligula.
                            Vivamus suscipit tortor eget felis porttitor volutpat. Mauris blandit aliquet elit.
                        </p>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
